.loginContainer{
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  /* background-image: radial-gradient(circle, #0000 45%, #000f 48%), radial-gradient(, #fc1c14 20%, #cf15cf 80%); */
  
  /* background: #555; */
  /* background: linear-gradient(to bottom, black ,rgb(48, 48, 48),rgb(95, 94, 94), white); */
  /* background-image: url('../../../public/asserts/bgLogin.webp');  */
  
}

form{
  display: flex;
  flex-direction: row;
  width: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.626);
  
  animation: boxAnimation 50s linear infinite;

}

@keyframes boxAnimation {
  0%,19%,26%,30%,40%,60%,68%,70%,95%,100%
  {
    border: #dff0f1;
    box-shadow: 0 0 10px #03bcf4;
  }
  9.9%,25.1%,45.1%,55.9%,65.1%,89.9%,100%
  {
    color: #fff;
    box-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 30px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4
    ;
  }
}


.ipContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .ip{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
  }
  .submit{
    margin: 20px;
  }
}
.ipContainer .sl{
  color: black;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
}
.ipContainer .sl2{
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: 700;
}
.ipContainer .sl2:hover{
  color: #6197f8;
  cursor: pointer;
}
.gotobrother{
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  
  form{
    display: flex;
    width: 95%;
    height: 120%;

  }
  .errorBox{
    width: 50%;
    background-color: rgba(242, 214, 76, 0.916);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
  }
  .errorBox img{
    width: 20%;
  }
}
@media only screen and (min-width: 600px) {
  form{
    justify-content: space-around;
  }
  .errorBox{
    max-width: 350px;
    padding: 40px;
    background-color: rgba(193, 171, 130, 0.9);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
  }
  .errorBox img{
    width: 20%;
    border-radius: 10%;
  }

}
.errorBox{
  color: white;
  font-size: larger;
  bottom: 5px;
  height: 30px;
  width: 50%;
  position: absolute;
  left: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  p{
    padding: 5px;
  }
}


.drop-left {
 animation: drop-left 1s ease 300ms backwards;
}
.drop-down {
 animation: drop-down 0.6s ease 200ms backwards;
}
.drop-down2 {
 animation: drop-down 1.5s ease 300ms backwards;
}
.drop-up {
 animation: drop-up 1s ease 200ms backwards;
}
.drop-right {
 animation: drop-right 0.3s ease-in 200ms backwards;
 
}

@keyframes drop-left {
 from {
  opacity: 0;
  transform: translateX(600px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-down {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-up {
 from {
  opacity: 0;
  transform: translateY(100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-right {
 from {
  opacity: 0;
  transform: translateX(-50px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}