@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root{
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

*{
  font-family:  var(--body-font);
}

.loginContainer{
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;


form{
  display: flex;
  flex-direction: row;
  width: 100vh;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 10px;
  background-color: #29292c;
  box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.626);

}
.ipContainer .sl{
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ipContainer .sl2{
  color: white;
}
.ipContainer .sl2:hover{
  color: #6197f8;
  cursor: pointer;
}
.gotobrother{
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  overflow: auto;

  form{
    display: flex;
    width: 95%;
    height: 120%;

  }
  .ipContainer{
    position: absolute;
    width: 45%;
    top: 35%;
  }
  .errorBox{
    width: 50%;
    background-color: rgba(242, 214, 76, 0.916);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
  }
  .errorBox img{
    width: 20%;
  }
}
@media only screen and (min-width: 600px) {
  form{
    justify-content: space-around;
  }
  .errorBox{
    max-width: 350px;
    background-color: rgba(28, 22, 22, 0.71);
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
  }
  .errorBox img{
    width: 20%;
    border-radius: 10%;
  }

}
.errorBox{
  color: white;
  font-size: larger;
  bottom: 5px;
  height: 30px;
  width: 50%;
  position: absolute;
  left: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  p{
    padding: 5px;
  }
}

}
.drop-left {
 animation: drop-left 1s ease 200ms backwards;
}
.drop-down {
 animation: drop-down 0.6s ease 200ms backwards;
}
.drop-down2 {
 animation: drop-down 1.5s ease 300ms backwards;
}
.drop-up {
 animation: drop-up 1s ease 200ms backwards;
}
.drop-right {
 animation: drop-right 0.3s ease-in 200ms backwards;
 
}

@keyframes drop-left {
 from {
  opacity: 0;
  transform: translateX(500px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-down {
 from {
  opacity: 0;
  transform: translateY(-100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-up {
 from {
  opacity: 0;
  transform: translateY(100px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}
@keyframes drop-right {
 from {
  opacity: 0;
  transform: translateX(-50px);
 }
 to {
  opacity: 1;
  transform: translate(0px);
 }
}