.homeContainer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 530vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #121212;
  transform: scale(5px);
}

.cursor1{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: white;
  z-index: 100;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
}

.active{
  background: #121212;
  background: -webkit-linear-gradient(to bottom, #121212, #f2fcfe); 
  background: linear-gradient(to bottom, #121212 0%,
    #24201d 25%,
    #373737 50%,
    #4e4e4e 75%,
    #838383 100%);

}

.welcome{
  position: relative;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  letter-spacing: 5px;
  button{
    background-color: white;
    color: black; 
  }
  p{
    font-size: 25px;
    color: skyblue;
  }
  h1{
    position: relative;
    font-size: 5em;
    cursor: pointer;
    letter-spacing: 8px;
    font-family: 'Courier New', Courier, monospace;
    color: #9eb6c1;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.379));
    line-height: 0.70em;
    animation: animate 50s linear infinite;
  }
}
@keyframes animate {
  0%,19%,26%,30%,40%,60%,68%,70%,95%,100%
  {
    color: #dff0f1;
    text-shadow: none;
    text-shadow: 0 0 10px #03bcf4;
  }
  9.9%,25.1%,45.1%,55.9%,65.1%,89.9%,100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 30px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4
    ;
  }
}

.avail{
  position: relative;
  width: 90%;
  margin: 20px;
  height: 100vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;

  .sl{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 400px;
  }

  
  .carosuelContainer {
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: start;

    .card {
        width: 50px;
        border-radius: .75rem;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        margin: 0 10px;
        display: flex;
        align-items: flex-end;
        transition: 2s cubic-bezier(.28,-0.03,0,.99);
        box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);

      .description{
        display: none;
      }
    }

  .card2{
    width: 520px;
    margin: 0 10px;
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    height: 100%;
    transition-delay: 0s;
    transition: all 3s ease;
    .icon{
      display: none;
    }
    .description{
      font-family: cursive;
      color: white;
      font-size: 20px;
      background-color: #8383835f;
      border-radius: 10px;
      padding: 10px;
    }
  }
  .card, .card2{
    box-shadow: 5px 0px 5px 2px rgba(0, 0, 0, 0.368);
    .icon{
      background-color: white;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 10px;
    }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    
    .card2[for="c1"], .card[for="c1"] {
        background-image: url('../../../public/asserts/medical.jpg'); 
    }
    .card2[for="c2"], .card[for="c2"]  {
        background-image: url('../../../public/asserts/education.jpg'); 
    }
    .card2[for="c3"], .card[for="c3"]  {
        background-image: url('../../../public/asserts/startups.jpg'); 
    }
    .card2[for="c4"], .card[for="c4"]  {
        background-image: url('../../../public/asserts/vehicle.jpg'); 
    }
    .card2[for="c5"], .card[for="c5"]  {
        background-image: url('../../../public/asserts/wedding.jpg');
    }
    .card2[for="c6"], .card[for="c6"]  {
        background-image: url('../../../public/asserts/home.jpg'); 
    }
    .card2[for="c7"], .card[for="c7"]  {
        background-image: url('../../../public/asserts/vaccation.jpg');
    }
  }
}


.loans{
  position: relative;
  width: 100%;
  margin: 20px;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  

  .items{
    padding: 20px;
    margin: 10px;
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fee5ac0e;
    border-radius: 20px;
    .title{
      width: 500px;
      margin-top: 0;
      font-family: PP Eiko;
      font-weight: 400;
      font-style: normal;
      line-height: 1.125;
      text-align: center;
      font-size: 40px;
      font-family: 'Courier New', Courier, monospace;
      color: #4e4e4e;
    }
    .explaination{
      display: flex;
      flex-direction: column;
      width: 600px;
      font-size: 15px;
      text-align: justify;
      padding: 20px;
      .controller{
        width: 500px;
        p{
          padding: 5px;
          font-weight: 100;
          letter-spacing: 2px;
          font-family: cursive;
          color: black;

        }
      }
    }
  }
}

