:root {
  --primary: #6a59ff;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #25daaf;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

button{
  color: white;
  background-color: black;
  border-radius: 20px;
  font-size: 19px;
  padding: 10px;
  width: 150px;
}
button:hover {
  position: relative;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

input{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
}
label,span{
  padding: 10px;
  font-size: 20px;
  color: #f7f7f2;
}
.ip{
  padding-top: 5px;
  padding-bottom: 5px;
}
.empty{
  height: 10px;
}